<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

        <div class="block-7">
          <h3 class="footer-heading mb-4">Über uns</h3>
          <p>ECONATURALIVE - Ihr Partner für hochwertige Nahrungsergänzungsmittel! Herstellungsort Deutschland. Premiumqualität!
             <br>Die Produkte von NATURE HEART sind frei von Magnesiumstearat und rückstandskontrolliert.</p>
        </div>

      </div>
      <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
        <h3 class="footer-heading mb-4">Quick Links</h3>
        <ul class="list-unstyled">
          <li><a href="{{ 'privacy.html' | relative_url }}">Impressum</a></li>
          <li><a href="{{ 'privacy.html' | relative_url }}">Privacy</a></li>
          <!--<li><a href="#">Diet &amp; Nutrition</a></li>
          <li><a href="#">Tea &amp; Coffee</a></li>-->
        </ul>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">Kontaktinformationen</h3>
          <ul class="list-unstyled">
            <li class="address">Kastenlangen 10/10, Dornbirn, 6850 Österreich </li>
            <li class="phone"><a href="tel://23923929210">‎+43 677 64086755</a></li>
            <li class="email">econaturalive@gmail.com</li>
            <li>MW.ST.NR. ATU 760 13 207</li>
          </ul>
        </div>


      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
          with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
            class="text-primary">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>

    </div>
  </div>
</footer>
