<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="title-section text-center col-12">
        <h2 class="text-uppercase">Neue Produkte</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 block-3 products-wrap">
        <div class="nonloop-block-3 owl-carousel">

          <div class="text-center item mb-4">
            {% assign product = site.products | where:"code", 732  | first %}
            <a href="{{ product.url | relative_url }}">
              <img src="{{ '/images/products/' | relative_url }}{{ product.image }}" alt="Image">
            </a>
            <h3 class="text-dark">
              <a href="{{ product.url | relative_url }}">
                {{ product.title }}
              </a>
            </h3>
            <p class="price">{{ product.price }}</p>
          </div>

          <div class="text-center item mb-4">
            {% assign product = site.products | where:"code", 714  | first %}
            <a href="{{ product.url | relative_url }}">
              <img src="{{ '/images/products/' | relative_url }}{{ product.image }}" alt="Image">
            </a>
            <h3 class="text-dark">
              <a href="{{ product.url | relative_url }}">
                {{ product.title }}
              </a>
            </h3>
            <p class="price">{{ product.price }}</p>
          </div>

          <div class="text-center item mb-4">
            {% assign product = site.products | where:"code", 705  | first %}
            <a href="{{ product.url | relative_url }}">
              <img src="{{ '/images/products/' | relative_url }}{{ product.image }}" alt="Image">
            </a>
            <h3 class="text-dark">
              <a href="{{ product.url | relative_url }}">
                {{ product.title }}
              </a>
            </h3>
            <p class="price">{{ product.price }}</p>
          </div>

          <div class="text-center item mb-4">
            {% assign product = site.products | where:"code", 698  | first %}
            <a href="{{ product.url | relative_url }}">
              <img src="{{ '/images/products/' | relative_url }}{{ product.image }}" alt="Image">
            </a>
            <h3 class="text-dark">
              <a href="{{ product.url | relative_url }}">
                {{ product.title }}
              </a>
            </h3>
            <p class="price">{{ product.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>