<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="title-section text-center col-12">
        <h2 class="text-uppercase">Beliebte Produkte</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        {% assign product = site.products | where:"code", 1  | first %}
        {% if product.sale %}<span class="tag">Angebot</span>{% endif %}
        <a href="{{ product.url }}">
          <img src="/images/products/{{ product.image }}" alt="Image">
        </a>
        <h3 class="text-dark">
          <a href="{{ product.url }}">
            {{ product.title }}
          </a>
        </h3>
        <p class="price"><del>95.00</del> &mdash; $55.00</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        {% assign product = site.products | where:"code", 2  | first %}
        {% if product.sale %}<span class="tag">Angebot</span>{% endif %}
        <a href="{{ product.url }}">
          <img src="/images/products/{{ product.image }}" alt="Image">
        </a>
        <h3 class="text-dark">
          <a href="{{ product.url }}">
            {{ product.title }}
          </a>
        </h3>
        <p class="price"><del>95.00</del> &mdash; $55.00</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        {% assign product = site.products | where:"code", 1  | first %}
        {% if product.sale %}<span class="tag">Angebot</span>{% endif %}
        <a href="{{ product.url }}">
          <img src="/images/products/{{ product.image }}" alt="Image">
        </a>
        <h3 class="text-dark">
          <a href="{{ product.url }}">
            {{ product.title }}
          </a>
        </h3>
        <p class="price"><del>95.00</del> &mdash; $55.00</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        {% assign product = site.products | where:"code", 2  | first %}
        {% if product.sale %}<span class="tag">Angebot</span>{% endif %}
        <a href="{{ product.url }}">
          <img src="/images/products/{{ product.image }}" alt="Image">
        </a>
        <h3 class="text-dark">
          <a href="{{ product.url }}">
            {{ product.title }}
          </a>
        </h3>
        <p class="price"><del>95.00</del> &mdash; $55.00</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        {% assign product = site.products | where:"code", 1  | first %}
        {% if product.sale %}<span class="tag">Angebot</span>{% endif %}
        <a href="{{ product.url }}">
          <img src="/images/products/{{ product.image }}" alt="Image">
        </a>
        <h3 class="text-dark">
          <a href="{{ product.url }}">
            {{ product.title }}
          </a>
        </h3>
        <p class="price"><del>95.00</del> &mdash; $55.00</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center item mb-4">
        {% assign product = site.products | where:"code", 2  | first %}
        {% if product.sale %}<span class="tag">Angebot</span>{% endif %}
        <a href="{{ product.url }}">
          <img src="/images/products/{{ product.image }}" alt="Image">
        </a>
        <h3 class="text-dark">
          <a href="{{ product.url }}">
            {{ product.title }}
          </a>
        </h3>
        <p class="price"><del>95.00</del> &mdash; $55.00</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <a href="shop.html" class="btn btn-primary px-4 py-3">Alle Produkte anzeigen</a>
      </div>
    </div>
  </div>
</div>
