<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="title-section text-center col-12">
        <h2 class="text-uppercase">Referenzen</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 block-3 products-wrap">
        <div class="nonloop-block-3 no-direction owl-carousel">
    
          <div class="testimony">
            <blockquote>
              <img src="{{ '/images/person_1.jpg' | relative_url }}" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
              <p>&ldquo;Bin sehr zufrieden mit den natürlichen und hochwertigen Produkten der Firma NATURE HEART. Konnte eine
                deutliche Besserung meiner gesundheitlichen Probleme verspüren und kann jedem die Produkte empfehlen. Bin auch
                mit der Kundenbetreuung sehr zufrieden.&rdquo;</p>
            </blockquote>

            <p>&mdash; Leni Ratschiller</p>
          </div>
    
          <div class="testimony">
            <blockquote>
              <img src="{{ '/images/person_2.jpg' | relative_url }}" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
              <p>&ldquo;Ich hatte eine super Beratung, mittlerweile liebe ich die Produkte.&rdquo;</p>
            </blockquote>
          
            <p>&mdash; Bernadette Sprenger</p>
          </div>
    
          <div class="testimony">
            <blockquote>
              <img src="{{ '/images/person_3.jpg' | relative_url }}" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
              <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore
                obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat
                unde.&rdquo;</p>
            </blockquote>
          
            <p>&mdash; Lucas Gallone</p>
          </div>
    
          <div class="testimony">
            <blockquote>
              <img src="{{ '/images/person_4.jpg' | relative_url }}" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
              <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore
                obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat
                unde.&rdquo;</p>
            </blockquote>
          
            <p>&mdash; Andrew Neel</p>
          </div>
    
        </div>
      </div>
    </div>
  </div>
</div>