---
---

<!DOCTYPE html>
<html lang="de">

<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="ECONATURALIVE - Natürliche Produkte für ein gesundes Leben">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="{{ 'fonts/icomoon/style.css' | relative_url }}">

  <link rel="stylesheet" href="{{ 'css/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'css/magnific-popup.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'css/jquery-ui.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'css/owl.carousel.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'css/owl.theme.default.min.css' | relative_url }}">

  <link rel="stylesheet" href="{{ 'css/aos.css' | relative_url }}">

  <link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
</head>

<body>
  <div class="site-wrap">
    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}
  </div>

  <script src="{{ 'js/jquery-3.3.1.min.js' | relative_url }}"></script>
  <script src="{{ 'js/jquery-ui.js' | relative_url }}"></script>
  <script src="{{ 'js/popper.min.js' | relative_url }}"></script>
  <script src="{{ 'js/bootstrap.min.js' | relative_url }}"></script>
  <script src="{{ 'js/owl.carousel.min.js' | relative_url }}"></script>
  <script src="{{ 'js/jquery.magnific-popup.min.js' | relative_url }}"></script>
  <script src="{{ 'js/aos.js' | relative_url }}"></script>

  <script src="{{ 'js/main.js' | relative_url }}"></script>
</body>

</html>